http:
  middlewares:
    # Seguridad headers
    security-headers:
      headers:
        frameDeny: true
        browserXssFilter: true
        contentTypeNosniff: true
        forceSTSHeader: true
        stsIncludeSubdomains: true
        stsPreload: true
        stsSeconds: 31536000

    # Rate limiting
    rate-limit:
      rateLimit:
        average: 100
        burst: 50
